@{
    var buttonList = new List<ButtonModel>();
    buttonList = ViewBag.ButtonList ?? buttonList;

    var createButton = buttonList.FirstOrDefault(m => m.Code.ToLower() == "create");
    var editButton = buttonList.FirstOrDefault(m => m.Code.ToLower() == "update");
    var deleteButton = buttonList.FirstOrDefault(m => m.Code.ToLower() == "delete");
}
<div class="page-content">
    <div class="table-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- 过滤条件start -->
                <div id="filterbar" class="alert alert-lightsGray fs12 clearfix">
                    <div class="clearfix" style="margin-right:30px;">
                        <div class="clearfix pull-left" style="line-height: 30px; margin: 3px 5px;">
                            <div class="pull-left">搜索：</div>
                            <div class="input-group input-group-sm w-small pull-left ">
                                <input class="form-control pull-left" placeholder="要搜索的关键字" name="Keywords" filterfield="Keywords" autopostback="true" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btnSearch" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 过滤条件end -->

                <div class="buttons-panel">
                    @if (createButton != null)
                    {
                        <button id="addButton" class="btn btn-default"><span class=@createButton.Icon></span>@createButton.Text</button>
                    }
                    @if (editButton != null)
                    {
                        <button id="editButton" class="btn btn-default"><span class=@editButton.Icon></span>@editButton.Text</button>
                    }
                    @if (deleteButton != null)
                    {
                        <button id="deleteButton" class="btn btn-default"><span class=@deleteButton.Icon></span>@deleteButton.Text</button>
                    }
                    <button id="btnReload" class="btn btn-default">刷新 </button>
                </div>
                <table id="mytable" class="wx-listview table table-bordered"></table>
            </div>
        </div>
    </div>
</div>
@section js{
    @Scripts.Render("~/js/datatables")
    <script type="text/javascript">
        $(function () {
            var defaults = {
                firstColumn: "radio",
                colVis: true,
                colReorder: true, //经过测试发现对于复杂的表头JS会报错
                "columns": [{
                    "data": "Id", "name": "Id", "title": "Id"
                }, {
                    "data": "Name", "name": "Name", "title": "权限（按钮）名称"
                }, {
                    "data": "Code", "name": "Code", "title": "编码"
                }, {
                    "data": "Icon", "name": "Icon", "title": "图标", "render": renderIcon
                }, {
                    "data": "OrderSort", "name": "OrderSort", "title": "排序"
                }, {
                    "data": "Description", "name": "Description", "title": "是否菜描述单"
                }, {
                    "data": "Enabled", "name": "Enabled", "title": "状态", "render": renderBool
                }],
                ajax: site.tables.ajax({
                    type: "POST",
                    url: "/Account/Permission/List"
                })
            };
            site.tables.init($("table"), defaults);

            $("#addButton").on("click", function () {
                top.site.dialog({
                    href: "/Account/Permission/Edit",
                    height: 600,
                    width: 1000,
                    title: "新增",
                    callback: site.tables.refresh
                });
            });

            $("#editButton").on("click", function () {
                var row = site.tables.getSelectedOneRowData();
                if (!row) {
                    top.site.error("请选择一行数据！");
                    return;
                }
                top.site.dialog({
                    href: "/Account/Permission/Edit?id=" + row.Id,
                    height: 600,
                    width: 1000,
                    title: "编辑",
                    callback: site.tables.refresh
                });
            });
            $("#deleteButton").on("click", function () {
                var row = site.tables.getSelectedOneRowData();
                if (!row) {
                    site.error("请选择一行数据！");
                    return;
                }
                site.confirm("您确认要删除选中的行吗？", function (result) {
                    if (!result) return; //取消
                    site.ajax({
                        url: "/Account/Permission/Delete?id=" + row.Id
                    }).done(function (ret) {
                        site.success("删除成功");
                        site.tables.refresh();
                    });
                });
            });
        });
    </script>
}


