@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height:100%">
<head>
    <title>后台管理系统-欢迎页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="author" content="jinyu" />
    <meta charset="utf-8">
</head>

<body style="margin:0px;background:url(/images/welcome.jpg) no-repeat; background-size:100% 100%; -moz-background-size:100% 100%;">
</body>
</html>
