<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
    <target name="file" xsi:type="File" fileName="c://logs/${level}/${date:format=yyyyMMdd}/${date:format=HH}.log"
            layout="${newline}${longdate}${newline}${logger}${newline}${message}${newline}================================================="
            encoding="utf-8" />

    <target xsi:type="Database" name="database" connectionString="Data Source=.;database=QuickDDD;uid=sa;pwd=1;">
      <commandText>
        insert into Logs([CreateTime],[Origin],[LogLevel], [Message], [Exception],[StackTrace])
        values (getdate(), @origin, @logLevel, @message,@exception, @stackTrace);
      </commandText>
      <!--日志来源-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志消息-->
      <parameter name="@message" layout="${message}"/>
      <!--异常信息-->
      <parameter name="@exception" layout="${exception}" />
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,database"/>
  </rules>
</nlog>