@{
      var buttonList = new List<ButtonModel>();
      buttonList = ViewBag.ButtonList;
}


<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-search"></i></span>
        <h5>查询条件</h5>
    </div>
    <div class="widget-content nopadding">
        <form class="form-horizontal search-form" method="post" name="basic_validate" novalidate="novalidate">

            <div class="control-group">
                <div class="search-group">
                    <label class="search-label">用户名</label>
                    <div class="span2 search-input">
                        <input name="LoginName"/>
                    </div>
                </div>
            </div>

            <div class="form-actions form-operate text-right ">
                <button type="button" class="btn btn-danger" onclick="ClearForm($('.search-form'));">
                    <span class="icon-bullhorn"></span> 清空
                </button>
                <button type="button" class="btn btn-success" onclick="Search()">
                    <span class="icon-search"></span> 搜索
                </button>
               
                    <button type="button" class="btn btn-primary" onclick="Create()">
                        <span class="">新增</span>
                    </button>
                
            </div>

        </form>

    </div>
</div>
