@model Quick.Application.ArticleCategoryDto
<div class="page-content">
    <form id="myform" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="container form-horizontal padding-top-30">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <label class="red">*</label>名称:
                </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(t => t.Name, new { @class = "form-control required" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <label class="red">*</label>备注:
                </label>
                <div class="col-sm-6">
                    <textarea name="Remark" class="form-control" rows="2">@Model.Remark</textarea>
                </div>
            </div>
            <div class="wx-form-footer fixed">
                <button id="btn-save" type="submit" class="btn btn-primary btn-lg w100">保存</button>
                <button id="btn-cancel" type="button" class="btn btn-default btn-lg w100">取消</button>
            </div>
        </div>
    </form>
</div>
@section js{
    @Scripts.Render("~/js/form")
    <script type="text/javascript">
        $(function () {
            site.validate.form("#myform", {
                url: "/Content/ArticleCategory/CreateOrUpdate"
            }, {
                rules: {

                }
            });
        });
    </script>
}
