@model Quick.Application.ArticleCategoryDto
@{
    Layout = null;
}
<input type="hidden" name="Id" value="@Model.Id" />

<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>名称:
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>备注:
    </label>
    <div class="controls">
        @Html.TextAreaFor(t => t.Remark, new { @class = "form-control" })
    </div>
</div>
